$btn-border-radius: 3px;
// Sidebar //
$drawer-items-padding: 20px !default;
$navigation-drawer-mini-variant-width: 96px !important;

// Layout //
$body-bg: #e5e5e5 !default;
$content-padding: 36px;
$color-red: #fa7c7d;
$color-red-light: rgba(255, 114, 131, 0.2);
$color-green: #60D1CB;
$color-dark-green: #317c5a;
$color-blue: #6ec4db;
$color-dark-blue: #3979d9;
$color-light-blue: #e3faff;
$color-secondary-333: #333333;

$color-light-dark: #1f2020;
$color-violet: #AA158B;

// Colors //
$primary: #13aba3;
$color-8e8e: #8e8e8e;
$secondary: #ff5c93;
$error: #e87c64;
$warning: #ffc260;
$success: #3cd4a0;
$info: #9013fe;
$text-color: #6e6e6e;
$text-grey: #b9b9b9;
$title-grey: #4a4a4a;
$icon-grey: #0000008a;
$light-grey: #b8b8b8;
$light-grey-7d: #7d7d7d;
$light-grey-b8: #b8b8b8;
$light-grey-666: #666666;
$light-primary: rgba(19, 171, 163, 0.1);

$card-title-color: $text-color;

// Typography //
$h1-font-size: 3rem !default; // 28px
$h2-font-size: 2rem !default; // 24px
$h3-font-size: 1.64rem !default; // 22px
$h4-font-size: 1.5rem !default; // 20px
$h5-font-size: 1.285rem !default; // 16px
$h6-font-size: 1.142rem !default; // 14px

// Card //
$card-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

// Buttons //
$button-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
